a {
	padding: 6px 5px;
	font: bold 13px Arial;
	background: #f5f5f5;
	color: #555;
	border-radius: 2px;
	width: 100px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 3px #999;
	margin-bottom: 20px;
}

.center {
	margin: 5% 20%;
	text-align: center;
}

.affichageHeader{
	margin-top : -10% !important;
}

.centerDiv {
	text-align: center;
}

.right{
	float : right; 
	margin : 1%;
	width : auto;
}

.left{
	float : left; 
	margin : 1%;
	width : auto;
}

.inMenu{
	margin-bottom : 10px;
	list-style-type : none;
}

ul ul {display: none;} 

li:hover ul.niveau2, li li:hover  {display:block;}

.niveau1{
	position: absolute;
	top : -0.2%;
	list-style-type: none;
}

.menuLogo{
	width : 100px;
	height : 100px !important;
}

.rightMine{
	float : right; 
	margin : 1%;
	width : 45%;
}

.leftMine{
	float : left; 
	margin : 1%;
	width : 45%;
}

.rightManager{
	float : right; 
	margin : 1%;
	width : 45%;
}

.leftManager{
	float : left; 
	margin : 1%;
	width : 45%;
}

.cadreMine{
	padding:3px; 
	border:5px double #a5a5a5; 
}

.cadreShop{
	padding:3px; 
	padding-left:6px; 
	border-left:4px solid #d0d0d0; 
	background-color:#f1f1f1; 
	margin-left:20px; 
	font-style:italic;
	margin-bottom : 10px;
}

.cadreManager{
	padding:3px;
	border:2px dashed #c0c0c0;
	margin-bottom : 10px;
}


.modifyDeleteField{
	display : inline-block;
	width : 30%;
	margin: 2% 0%;
}

.titanic{
	float : none;
}
.tictactoe {
	height : 15%;
	width : 15%;
}

.p4 {
	height : 10%; 
	width : 10%; 
}

.menujeux {
	width : 100%; 
}

.appercujeu {
	width : 100%;
}

.menujeux a {
	border : 0px; 
	box-shadow : 0px 0px 0px !important;
}