a {
	padding: 6px 5px;
	font: bold 13px Arial;
	background: #f5f5f5;
	color: #555;
	border-radius: 2px;
	width: 100px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 3px #999;
	margin-bottom: 20px;
}

.center {
	margin: 5% 42%;
	text-align: center;
}

.centerDiv {
	text-align: center;
}

.right{
	float : right; 
	margin : 1%;
	width : auto;
}

.left{
	float : left; 
	margin : 1%;
	width : auto;
}

.modifyDeleteField{
	display : inline-block;
	width : 30%;
	margin: 2% 0%;
}

.titanic{
	clear : both;
}